.about_container{
    padding: 1.5rem;
    width:100%;
}

.potrait:hover{
    border-width: 0;
}
.about_right h2{
    margin-bottom: 1.5rem;
    color: var(--color-black);
}
.about_cards{
    color:var(--color-black);
}
.about_right p{
    margin-bottom: 0.8rem;
    color:var(--color-black);
}
.about_right .btn{
    margin-top: 2.5rem;
}
.rightSection {
    display: grid;
    place-items: center;
    flex: 1;
    padding: 0 1.5rem;

    canvas {
      width: calc(100% - 4rem);
      min-width: 480px;
      height: auto;
    }
  }

@media screen and (max-width:1024px) {
    .about_left{
        display: none;
    }
    .about_container{
        grid-template-columns: 1fr;
        padding: 1.2rem;
    }

    .about_right h2{
        text-align: center;
    }
    .about_right p{
        margin-bottom: 0.5rem;
    }
}
@media screen and(max-width:930px) {
    .rightSection {
        padding: 0;
        width: 100%;

        canvas {
          width: 100%;
          max-width: 534px;
          min-width: 0;
        }
      }
}
@media screen and (max-width:760px){
    .about_container{
        width:120%;
    }
}
